<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rengu.mapper.BaselineMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.rengu.entity.BaselineModel">
		<id column="id" property="id"/>
		<result column="baseline_name" property="baselineName"/>
		<result column="baseline_description" property="baselineDescription"/>
		<result column="priority" property="priority"/>
		<result column="created_time" property="createdTime"/>
		<result column="modified_time" property="modifiedTime"/>
	</resultMap>

	<!-- 通用查询结果列 -->
	<sql id="Base_Column_List">
		id, baseline_name, baseline_description, priority, created_time, modified_time
	</sql>

</mapper>
