<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rengu.mapper.RelationshipMapper">

		<!-- 通用查询映射结果 -->
		<resultMap id="BaseResultMap" type="com.rengu.entity.RelationshipModel">
					<id column="relationship_id" property="relationshipId"/>
					<result column="entity_id1" property="entityId1"/>
					<result column="entity_id2" property="entityId2"/>
					<result column="relationship_type" property="relationshipType"/>
		</resultMap>

		<!-- 通用查询结果列 -->
		<sql id="Base_Column_List">
            relationship_id, entity_id1, entity_id2, relationship_type
		</sql>

	<select id="getRelationshipsByEntityIds" resultType="com.rengu.entity.RelationshipModel">
		SELECT *
		FROM relationship
		WHERE entity_id1 IN
		<foreach collection="entityIds" item="entityId" open="(" separator="," close=")">
			#{entityId}
		</foreach>
		OR entity_id2 IN
		<foreach collection="entityIds" item="entityId" open="(" separator="," close=")">
			#{entityId}
		</foreach>
	</select>

</mapper>
