<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rengu.mapper.ValueHistoryMapper">

		<!-- 通用查询映射结果 -->
		<resultMap id="BaseResultMap" type="com.rengu.entity.ValueHistoryModel">
					<id column="value_id" property="valueId"/>
					<result column="entity_historyid" property="entityHistoryid"/>
					<result column="attribute_id" property="attributeId"/>
					<result column="value" property="value"/>
		</resultMap>

		<!-- 通用查询结果列 -->
		<sql id="Base_Column_List">
            value_id, entity_historyid, attribute_id, value
		</sql>

</mapper>
